apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: shekeriev/k8s-facts-fe
          ports:
            - containerPort: 5000
          env:
            - name: FACTS_SERVER
              value: backend-service
            - name: FACTS_PORT
              value: "5000"
